@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary:#667eea;
    --color-secondary: #764ba2;
    --button-padding: 15px 30px;
    --button-border-radius: 4px;
 
}
body{
    font-family: 'Raleway', sans-serif;
}

.container {    
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    padding: 70px 0;
   
}

.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.hero{
    height: 100vh;
    background-image: var(--background), url('../assets/img/7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative; /*para posisionar la wave*/
}
.hero .container{
    padding: 0;
    
}
.hero__container{
    display: flex;
    height: calc(100vh - 70px) ;/*el total menos el nav*/
    align-items: center;
    color:#fff;
}

.hero__texts{
    width: 80%;
    margin-bottom: 150px;/*porque la wave le quit贸 espacio y parece descentrado*/
}
.hero__title{
    font-size: 3.2rem;
}
.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin:15px 0;
}
.hero__cta{
    display: inline-block;
    background: #fff;
    padding: var(--button-padding);
    color: var(--color-primary);
    text-decoration:none;
    border-radius:var(--button-border-radius);    
}

.hero__wave{
    position: absolute; /*para que se posisione en su padre*/
    bottom:-1px;
    width: 100%;
    height:100px;
    
}

/*=========secci贸nes presentaci贸n y about ===========*/
.presentation{
text-align: center;
margin-top:0%;
}
.presentation__picture{
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; /*no pierda resoluci贸n*/
    object-position: top;
}
.presentation__copy{
    width:80%;
    margin: 0 auto;
}
.presentation__cta{
    display: inline-block;
    padding: var(--button-padding);
    background:var(--color-primary);
    text-decoration: none;
    border-radius: var(--button-border-radius);
    color:white;
    margin-top: 20px;
}

.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px; /*espaciado entre filas*/
    align-items: center;
    justify-items: center;
    text-align: center;

}
.about__img{
    text-align: center;
}
.about__img--left{
    text-align: left;
}
.about__picture{
    max-width: 80%;/*de la columna del grid*/
}
.about__paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
    text-align:inherit;
}

/*=========== Project's Galery =============*/
.projects{
    background:#f2f2f2;
}
.projects__grid{
    display: grid;
    height: 550px;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img4 img5";
    gap: 5px;
   
      
}

.projects__items{
    position:relative;
    width:100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0.1em 0.2em rgba(66,66,66, .5); 
}
.projects__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor:pointer;
    border-radius: 4px;

}

.projects__items:nth-of-type(1){
    grid-area: img1;
}

.projects__items:nth-of-type(2){
    grid-area: img2 ;
}
.projects__items:nth-of-type(3){
    grid-area: img3;
}
.projects__items:nth-of-type(4){
    grid-area: img4;
}
.projects__items:nth-of-type(5){
    grid-area: img5;
}

.projects__hover{
    position:absolute;
    background:var(--background);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    color:white;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform:translateX(100%);
    cursor:pointer;
    transition: transform .2s ease-in-out;
}
.projects__items:hover .projects__hover{
    transform:translateX(0%);
}
.projects__icon{
    margin-top: 10px;
    font-size: 30px;
}


/*=========== Testimony ==============*/


.testimony__grid{
    width: 97%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    
}

.testimony__item{
 width: 97%;
 margin: 0 auto;
 background: var(--color-primary);
 box-shadow: 0 8px 10px rgba(66,66,66, .5); 
 border-radius: 4px;
 padding: 30px 25px;
 color:#fff;
 margin-bottom: 50px;  

}
.testimony__person{
    display:flex;
    align-items: center;
    margin-bottom: 20px;

}

.testimony__img{
    width: 9rem;
    min-width: 6.25rem;
    height:9rem;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: 2rem;

    object-position:top;
}

.testimony__name{
    font-size: 1.75rem;
    margin-bottom: 10px;
}
.testimony__verification{
    color:#e0afa0;
    font-weight: 700;
}

.testimony__review{
    font-weight:300;
}

/*=========== footer =============*/

.nav{
    display:flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight:700;
}
.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}
.nav__items{
    color: #fff;
    text-decoration:none;
    margin-right: 20px;
    padding:10px 15px;
    font-weight: inherit;
}
.nav__items--cta{
    border: 1px solid #fff;
    border-radius: var(--button-border-radius);

}
.nav__items--footer{
    margin: 10px;  
}




.footer{
    background: var(--color-primary);
    color:#fff;
}
.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}
.footer__title{
    font-weight: 400;
    font-size:2rem;
    margin-bottom: 30px;
    text-align: center;
}
.footer__icons{
    display: flex;
    justify-content: space-evenly;
}
.footer__container-icons{
    display:inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
   
}

.footer__icon{
    color: inherit;
    text-decoration: none;
    font-size:30px;
    cursor: pointer;
   
}
.fab.footer__icon{
    line-height:60px;
  
}

/*=========== Responsive Desingn ==============*/

/*========= Tablets =============*/
@media screen and (max-width:800px){
    :root{
        --boton-pading: 18px 40px;
    }

.testimony__grid{
    grid-template-columns: 1fr;
    gap: 1em;
}

.testimony__item{
    margin-bottom: 20px;
    width: 95%;
    
}

.footer__grid{
    grid-template-columns: 1fr;
    padding-top: 1rem;
    
}
.nav.nav--footer{
    justify-content: space-evenly;
    margin-top: 2rem;
}

.footer__contact{
    grid-row: 1/2;
}

/*===== Smartphone=====*/
:root{
    --botton-padding: 18px 35px;
}

.nav{
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top:10px;
}
.cta__none{
    display:none;
}

.nav__items{
    padding: 0 10px;
    border: 0;
}
.hero__container{
  margin-inline: 0px;
}

.hero__texts{
  
    text-align: center;
    margin-top: 30px;

}
.hero__title{
    font-size: 2.8rem;
    text-align: center;
}
.hero__subtitle{
    font-size: 1.5rem;
    margin-bottom:20px;
}